/debug
/jstree.sublime-project
/jstree.sublime-workspace
/bower_components
/node_modules
/site
/nuget
/demo/filebrowser/data/root
/npm.txt
/libs
/docs
/dist/libs
/.vscode


/a-文艺感性
/b-理性唯物
/c-生活点滴
*.ppt
*.doc
*.docx
!*.txt
!*.html
!*.my
!*.md
